[Unit]
Description={name}-{version}-{unit} Application

[Service]
Restart=always
RestartSec=20s
TimeoutStartSec=20m
ExecStartPre=/usr/bin/docker pull {image}
ExecStartPre=/bin/sh -xc "docker inspect {name}-{version} 1>/dev/null 2>&1 && docker rm -f {name}-{version} || true"
ExecStart=/bin/sh -xc "/usr/bin/docker run -P --rm {docker_args} {docker_env} \
          --name {name}-{version} {image} {app_cmd}"
ExecStop=/bin/sh -xc "docker inspect {name}-{version} 1>/dev/null 2>&1 && docker rm -f {name}-{version} || true"

[X-Fleet]
X-Conflicts={name}-{version}-*.service