[Unit]
Description={name}-{version}-{unit} Logger
BindsTo={name}-{version}-{unit}.service

[Service]
Restart=always
RestartSec=20s
ExecStartPre=/bin/sh -c "until docker inspect {name}-{version}-{unit} >/dev/null 2>&1; do sleep 1; done"
ExecStart=/bin/sh -c "docker logs -f {name}-{version}-{unit} 2>&1 | logger -p local0.info -t '{name} {version} {unit}' --udp --server $(etcdctl get /deis/logs/host | cut -d ':' -f1) --port $(etcdctl get /deis/logs/port | cut -d ':' -f2)"


[X-Fleet]
X-ConditionMachineOf={name}-{version}-{unit}.service